auto-save-list
dap-breakpoints
eln-cache
elpa
.emacs-custom.el~
eshell
.git
ido.last~
ido.last
.lsp-session-v1
projectile-bookmarks.eld
recentf
smex-items
snippets
tramp
transient
.dap-breakpoints
.mc-lists.el